name: CI

on:
  push:
  pull_request:

jobs:
  run_ci:
    name: Run CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run CI in Dev Container
        uses: devcontainers/ci@v0.3
        with:
          push: never
          runCmd: /bin/bash -c "task lint && task test"
